p {
    &[data-size="custom"] {
        font-size: attr(data-custom-size rem);
        svg {
            height: attr(data-custom-size rem);
            width: auto;
        }
    }
}

.copiaIcon {
    display: inline;
    height: 1em;
    width: auto;
    vertical-align: text-bottom;
    margin-left: 0em;
    margin-right: 0.125em;
    margin-bottom: -0.125em;
}

.trailingDash {
    margin-bottom: -0.125em;
}
